- provide(:title, 'Sign in')
%h1 Sign in

.row
  .span6.offset3
    = simple_form_for(:session, url: sessions_path) do |f|
      = f.input :email, required: false
      = f.input :password, required: false
      = f.button :submit, "Sign in", class: "btn btn-large btn-primary"
